## Preprocess

In [3]:
# Make sure our working directory is the root of project, e.g /amr-parser
%cd ..
%pwd

c:\Users\bandi\MasterDegree\AMR\amr-parser

'c:\\Users\\bandi\\MasterDegree\\AMR\\amr-parser'

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import os
import sys
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2' 
module_path = os.path.abspath(os.path.join('.'))
if module_path not in sys.path:
    sys.path.append(module_path)
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [6]:
import stanza
import os
import pandas as pd
import string
from wordcloud import WordCloud, STOPWORDS 
from IPython.display import display, HTML

In [7]:
import tensorflow as tf
physical_devices = tf.config.list_physical_devices('GPU') 
tf.config.experimental.set_memory_growth(physical_devices[0], True) #kalau cudablas nya ga mau, run ini sebelum import get_entities

In [8]:
import penman
from importlib import reload
reload(penman)

In [10]:
import numpy as np
import pandas as pd
import stanfordnlp
import nltk

import matplotlib.pyplot as plt

from collections import Counter, defaultdict
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
from utils.ner.entity_recognizer import get_entities, get_entities_tf

from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory

from stog.utils.params import Params
from stog.data.dataset_builder import dataset_from_params, iterator_from_params
from utils.amr_parsing.io import AMRIO

In [17]:
my_dir = "./"

AMR_FILEPATH = "data/amr_id_v2/train.txt"
AMR_TEST_FILEPATH = "data/raw/amr_simple_test.txt"
EDGE_PREDICTION_DATADIR = 'data/raw/edge_prediction/'

# Dependency feature
DEPENDENCY_FEATURES_FILEPATH = EDGE_PREDICTION_DATADIR + 'dependency_parser_features.csv'
TEST_DEPENDENCY_FEATURES_FILEPATH = EDGE_PREDICTION_DATADIR + 'test_dependency_parser_features.csv'

# Filtered dependency features
FILTERED_DEPENDENCY_FEATURES_FILEPATH = EDGE_PREDICTION_DATADIR + 'dependency_parser_features_filtered.csv'
FILTERED_TEST_DEPENDENCY_FEATURES_FILEPATH = EDGE_PREDICTION_DATADIR + 'test_dependency_parser_features_filtered.csv'

# Labeled
LABELED_TEST_DEPENDENCY_FEATURES_FILEPATH = EDGE_PREDICTION_DATADIR + 'test_dependency_parser_features_labeled.csv'
LABELED_DEPENDENCY_FEATURES_FILEPATH = EDGE_PREDICTION_DATADIR + 'dependency_parser_features_labeled.csv'
LABELED_DEPENDENCY_FEATURES_FILEPATH_NO_UNK = EDGE_PREDICTION_DATADIR + 'dependency_parser_features_labeled_no_unk.csv'

# AMR
AMR_DF_FILEPATH = EDGE_PREDICTION_DATADIR + 'amr.csv'
TEST_AMR_DF_FILEPATH = EDGE_PREDICTION_DATADIR + 'amr.test.csv'

# ANNOTATOR 
ANNOTATOR_PARAMS={
    'pos_tagger': 'nltk'
}

# FILTER TYPE
FILTER_TYPE = ['preposition', 'determiner', 'sc']

# Severina Dataset
TEST_BERITA_DIR = my_dir+"data/raw/test/"
TEST_BERITA_FILE_NAMES = ["b-salah-darat.txt","c-gedung-roboh.txt","d-indo-fuji.txt", "f-bunuh-diri.txt", "g-gempa-dieng.txt"]
TEST_BERITA_FILE_PATHS = [TEST_BERITA_DIR + filename for filename in TEST_BERITA_FILE_NAMES]

## Function Definitions

In [10]:
class FeatureAnnotator:
    word_dict = {}
    
    def __init__(self, params):
#         self.nlp = stanfordnlp.Pipeline(lang="id",use_gpu=False, silent=True)
        self.nlp = stanza.Pipeline(lang="id",use_gpu=True,verbose=False, tokenize_pretokenized=True)
        
        factory = StemmerFactory()
        self.stemmer = factory.create_stemmer()
        self.ner = get_entities
        self.params = params
        
        import nltk
        self.pos_tagger = nltk.tag.CRFTagger()
        self.pos_tagger.set_model_file(my_dir+'pretrained/pos_tagger/all_indo_man_tag_corpus_model.crf.tagger')
    def annotate(self, sentence):
        annotation = defaultdict(list)
        sentence = sentence.translate(str.maketrans('', '', string.punctuation))
        doc = self.nlp(sentence)
        
        annotation['ner_tags'] = self.ner(sentence)
        
        word_dict = defaultdict(int)
        
        for sent in doc.sentences:
            for idx, word in enumerate(sent.words):
                annotation['tokens'].append(word.text)
                stemmed_word = self.stemmer.stem(word.text)                
                if (annotation['ner_tags'][idx] in ['PER', 'ORG']):
                    stemmed_word = word.text.lower()
                word_dict[stemmed_word] += 1
                annotation['lemmas'].append(stemmed_word+'_{}'.format(word_dict[stemmed_word]))
                annotation['pos_tags'].append(word.upos)
#                 annotation['dependency'].append(dict(relation=word.dependency_relation, head=word.governor))
                annotation['dependency'].append(dict(relation=word.deprel, head=word.head))
    
        if self.params['pos_tagger'] == 'nltk':
            annotation['pos_tags'] = [tag[1] for tag in self.pos_tagger.tag(annotation['tokens'])]
            
        
        return annotation

# Preprocess

### Features

In [11]:
def dump_amr_features(amr, annotation, f):
    amr.tokens = annotation['tokens']
    amr.lemmas = annotation['lemmas']
    amr.pos_tags = annotation['pos_tags']
    amr.ner_tags = annotation['ner_tags']
    AMRIO.dump([amr], f)

def create_dataset(annotation, sentence_id):
    edge_labels_dataset = {
        'sentence_id': [],
        'parent': [], 
        'parent_position': [], 
        'child': [], 
        'child_position': [], 
        'is_root' : [],
        'sequence': [],
        'parent_ner': [],
        'child_ner': [],
        'parent_pos': [],
        'dependency_role': [],
        'child_pos': []
    }

    for idx, dependency in enumerate(annotation['dependency']):
        head = dependency['head']
        if (head != 0):
            head_idx = head-1
            edge_labels_dataset['sentence_id'].append(sentence_id)
            edge_labels_dataset['sequence'].append(idx+1)
            edge_labels_dataset['parent'].append(annotation['lemmas'][head_idx])
            edge_labels_dataset['parent_position'].append(head_idx)
            edge_labels_dataset['child'].append(annotation['lemmas'][idx])
            edge_labels_dataset['child_position'].append(annotation['lemmas'].index(annotation['lemmas'][idx]))
            edge_labels_dataset['is_root'].append(1 if annotation['dependency'][head_idx]['head'] == 0 else 0)
            edge_labels_dataset['parent_ner'].append(annotation['ner_tags'][head_idx])
            edge_labels_dataset['child_ner'].append(annotation['ner_tags'][idx])
            edge_labels_dataset['parent_pos'].append(annotation['pos_tags'][head_idx])
            edge_labels_dataset['child_pos'].append(annotation['pos_tags'][idx])
            edge_labels_dataset['dependency_role'].append(dependency['relation'])
            
    return edge_labels_dataset

def create_dependency_parser_feature_df(filepath, params):
    sentence_dataset = []
    word_dict = defaultdict(int)
    amrs = []
    sentence_ids = []
    all_sentences = ''
    annotator = FeatureAnnotator(params)
    
    with open(filepath + '.features', 'w', encoding='utf-8') as f:
        for i, amr in enumerate(AMRIO.read(filepath), 1):
            if i % 100 == 0:
                print('{} processed.'.format(i))

            for word in nltk.tokenize.word_tokenize(amr.sentence):
                word_dict[word.lower()] += 1
                all_sentences += word.lower() + ' '
            #print('amr.sentence',amr.sentence)
            annotation = annotator.annotate(amr.sentence)
            dump_amr_features(amr, annotation, f)
            sentence_data = create_dataset(annotation, i)
            sentence_dataset.append(sentence_data)
            sentence_ids.append(i)
            amrs.append(amr)

    dataset_dict = {
        'sentence_id': sum([sum([sentence_data['sentence_id'] for sentence_data in sentence_dataset], [])],[]),
        'sequence': sum([sum([sentence_data['sequence'] for sentence_data in sentence_dataset], [])],[]),
        'parent': sum([sum([sentence_data['parent'] for sentence_data in sentence_dataset], [])],[]),
        'parent_position': sum([sum([sentence_data['parent_position'] for sentence_data in sentence_dataset], [])],[]), 
        'child': sum([sum([sentence_data['child'] for sentence_data in sentence_dataset], [])],[]), 
        'child_position': sum([sum([sentence_data['child_position'] for sentence_data in sentence_dataset], [])],[]), 
        'is_root' : sum([sum([sentence_data['is_root'] for sentence_data in sentence_dataset], [])],[]),
        'parent_ner': sum([sum([sentence_data['parent_ner'] for sentence_data in sentence_dataset], [])],[]),
        'child_ner': sum([sum([sentence_data['child_ner'] for sentence_data in sentence_dataset], [])],[]),
        'parent_pos': sum([sum([sentence_data['parent_pos'] for sentence_data in sentence_dataset], [])],[]),
        'dependency_role': sum([sum([sentence_data['dependency_role'] for sentence_data in sentence_dataset], [])],[]),
        'child_pos': sum([sum([sentence_data['child_pos'] for sentence_data in sentence_dataset], [])],[])
    }

    amr_dict = {
        'sentence_id': sentence_ids,
        'amr': [str(amr.graph) for amr in amrs]
    }

    sentence_dataset = pd.DataFrame(dataset_dict)
    amr_df = pd.DataFrame(amr_dict)
    
    return sentence_dataset, amr_df, all_sentences, amrs

def filter_dataset(data, mode='all'):
    if ('preposition' in mode):
        data = data[data['child_pos'] != 'IN']
    
    if ('determiner' in mode):
        data = data[data['dependency_role'] != 'det']
        
    if ('case' in mode):
        data = data[data['dependency_role'] != 'case']
    
    if ('sc' in mode):
        data = data[data['child_pos'] != 'SC']
    
    return data

### Pair Label Generation

In [12]:
def create_pair_labels(train_data):
    pairs = []
    for sentence_id, data in enumerate(train_data):
        tokens =  data.fields['tgt_tokens'].tokens[1:-1]
        head_indices = data.fields['head_indices'].labels
        labels = data.fields['head_tags'].labels
        
        for i, index in enumerate(head_indices):
            if (index != 0):
                parent = tokens[index-1]
                child = tokens[i]
                label = labels[i]
                pairs.append((sentence_id+1, str(parent), str(child),str(label)))
                
    return pairs

def find_label(data, pair_labels):
    for pair_label in pair_labels:
        sentence_id, label_parent, label_child, label = pair_label
        if (data['sentence_id'] == sentence_id and data['parent'] == label_parent and data['child']==label_child):
            return label
    return "unk"
    
def create_labels(pair_labels, sentence_dataset, change_unk_to_mod=False, with_flipped=False):
    found_or_not = []
    labels = []
    unk_pairs = []
    pair_labels_dict = dict()
    not_found_count = 0
    found_count = 0
    
    for idx, data in sentence_dataset.iterrows():
        found = False
        flipped_found = False
        flipped_data = None
        
        if (data['sentence_id'] not in pair_labels_dict):
            #ditambah None untuk menampung label hasil prediksi nantinya (Kalau sampai akhir tetap None, artinya : pair tidak dilabeli)
            pair_labels_dict[data['sentence_id']] = [pair_label + (None,) for pair_label in pair_labels if pair_label[0] == data['sentence_id']]   
        cur_pair_labels = pair_labels_dict[data['sentence_id']]
            
        for i, pair_label in enumerate(pair_labels_dict[data['sentence_id']]):
            _, label_parent, label_child, label, ketemu = pair_label
            if (data['parent'].split('_')[0] == label_parent and data['child'].split('_')[0]==label_child):
                labels.append(label)
                found = True
                pair_labels_dict[data['sentence_id']][i] = _, label_parent, label_child, label, label
                break

            elif with_flipped and (data['parent'].split('_')[0] == label_child and data['child'].split('_')[0]==label_parent):
                flipped_found = True
                print('ADA FLIPPED')
                flipped_data = (data['child'], data['parent'], label)
        
        if flipped_found and not found:
            sentence_dataset.loc[idx,'parent'] = flipped_data[0]
            sentence_dataset.loc[idx,'child'] = flipped_data[1]
            labels.append(flipped_data[2])
        
        if not flipped_found and not found:
            not_found_count += 1
            dependency_role = data['dependency_role'] 
            if (dependency_role in ['nsubj']):
                labels.append("ARG0")
            elif (dependency_role in ['obl', 'obj']):
                labels.append('ARG1')
            elif (dependency_role in ['case'] and data['child'] in ['di', 'ke', 'dari']):
                labels.append('location')
            else:
                if change_unk_to_mod:
                    labels.append("mod")
                else: 
                    labels.append("unk")

            unk_pairs.append((data['parent'], data['child'], dependency_role, data['sentence_id']))
            found_or_not.append(False)
        else:
            found_count += 1
            found_or_not.append(True)   
    
    print("Found pairs: ", found_count)
    print("AMR Pair labels: ", len(pair_labels))
    print("Dependency Parser Pair labels: ", len(sentence_dataset))
    print("Not found: ", not_found_count)
    
    precision = found_count/len(sentence_dataset)
    recall = found_count/len(pair_labels)
    print("Pair Precision: ", precision)
    print("Pair Recall: ", recall)
    print("Pair F1: ", 2*((precision*recall)/(precision+recall)))
    
    return labels, unk_pairs, found_or_not, pair_labels_dict

In [18]:
sentence_dataset, amr_df, all_sentences, amrs = create_dependency_parser_feature_df(AMR_FILEPATH, ANNOTATOR_PARAMS)
test_sentence_dataset, test_amr_df, test_all_sentences, test_amrs = create_dependency_parser_feature_df(AMR_TEST_FILEPATH, ANNOTATOR_PARAMS)

100 processed.
200 processed.
300 processed.
400 processed.
500 processed.
600 processed.
700 processed.
800 processed.
900 processed.
1000 processed.
1100 processed.
1200 processed.
1300 processed.
1400 processed.
1500 processed.
1600 processed.
1700 processed.
1800 processed.
1900 processed.
2000 processed.
2100 processed.
2200 processed.
2300 processed.
(d / dan    :op1 (j / jadi            :ARG0 (h / hendra)            :ARG1 (a / alumni                     :mod (l / lulusan                             :mod (b / baik)))            :location (u / universitas                         :mod (i / islam                                 :location (m / malang)))            :time (t / tahun                     :mod (_ / 2013)))    :op2 (d2 / dagang             :ARG0 (a2 / ayah)             :ARG1 (s / siomay)))
Expected "(" at position 358
ERR_START
['(d / dan', '   :op1 (j / jadi', '           :ARG0 (h / hendra)', '           :ARG1 (a / alumni', '                    :mod (l / lulusan', '                            :mod (b / baik)))', '           :location (u / universitas', '                        :mod (i / islam', '                                :location (m / malang)))', '           :time (t / tahun', '                    :mod (_ / 2013)))', '   :op2 (d2 / dagang', '            :ARG0 (a2 / ayah)', '            :ARG1 (s / siomay)))']
'NoneType' object has no attribute 'set_src_tokens'
(d / dan    :op1 (a / ajar            :ARG0 (a2 / ayah)            :location (s / sekolah                         :mod (d2 / dasar                                  :mod (n / negeri))                         :name (t / tamanan                                  :mod (_ / 1)))            :time (t2 / tahun))    :op2 (m / main            :ARG0 (a3 / adik)            :ARG1 (b / boneka                     :name (b2 / barbie))))
Expected "(" at position 264
ERR_START
['(d / dan', '   :op1 (a / ajar', '           :ARG0 (a2 / ayah)', '           :location (s / sekolah', '                        :mod (d2 / dasar', '                                 :mod (n / negeri))', '                        :name (t / tamanan', '                                 :mod (_ / 1)))', '           :time (t2 / tahun))', '   :op2 (m / main', '           :ARG0 (a3 / adik)', '           :ARG1 (b / boneka', '                    :name (b2 / barbie))))']
'NoneType' object has no attribute 'set_src_tokens'
2400 processed.
2500 processed.
2600 processed.
(a / atau    :op1 (j / jadi            :ARG0 (h / hendra)            :ARG1 (a2 / alumni                      :mod (l / lulusan                              :mod (b / baik)))            :location (u / universitas                         :mod (i / islam                                 :location (m / malang)))            :time (t / tahun                     :mod (_ / 2013)))    :op2 (d / dagang            :ARG0 (a3 / ayah)            :ARG1 (s / siomay)))
Expected "(" at position 362
ERR_START
['(a / atau', '   :op1 (j / jadi', '           :ARG0 (h / hendra)', '           :ARG1 (a2 / alumni', '                     :mod (l / lulusan', '                             :mod (b / baik)))', '           :location (u / universitas', '                        :mod (i / islam', '                                :location (m / malang)))', '           :time (t / tahun', '                    :mod (_ / 2013)))', '   :op2 (d / dagang', '           :ARG0 (a3 / ayah)', '           :ARG1 (s / siomay)))']
'NoneType' object has no attribute 'set_src_tokens'
(a / atau    :op1 (a2 / ajar             :ARG0 (a3 / ayah)             :location (s / sekolah                          :mod (d / dasar                                  :mod (n / negeri))                          :name (t / tamanan                                   :mod (_ / 1)))             :time (t2 / tahun))    :op2 (m / main            :ARG0 (a4 / adik)            :ARG1 (b / boneka                     :name (b2 / barbie))))
Expected "(" at position 270
ERR_START
['(a / atau', '   :op1 (a2 / ajar', '            :ARG0 (a3 / ayah)', '            :location (s / sekolah', '                         :mod (d / dasar', '                                 :mod (n / negeri))', '                         :name (t / tamanan', '                                  :mod (_ / 1)))', '            :time (t2 / tahun))', '   :op2 (m / main', '           :ARG0 (a4 / adik)', '           :ARG1 (b / boneka', '                    :name (b2 / barbie))))']
'NoneType' object has no attribute 'set_src_tokens'
100 processed.
200 processed.
300 processed.

In [20]:
# labels_no_unk, unk_pairs, found_or_not, pair_labels_dict = create_labels(pair_labels[:],filtered_sentence_dataset[:], change_unk_to_mod=True)

In [22]:
# actual = []
# pred = []
# kelas = []
# for i,j in enumerate(pair_labels_dict):
#     for a,b in enumerate(pair_labels_dict[j]):
#         _, label_parent, label_child, label_actual, label_prediction = b
#         actual.append(str(label_actual))
#         pred.append(str(label_prediction))
#         if str(label_prediction) not in kelas:
#             kelas.append(str(label_prediction))

In [23]:
kelas= ['ARG0','ARG1','location','mod','name', 'time','None']

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(actual, pred, kelas)
cm

In [ ]:
jml_label = {}
rasio_not_found = {}
for i,j in enumerate(cm):
    betul = j[i]
    jadi_none = j[len(j)-1]
    rasio_jadi_none = jadi_none/(betul+jadi_none)
    if np.isnan(rasio_jadi_none):
        rasio_jadi_none = 0
    print(kelas[i],'==>',round(rasio_jadi_none,2))
    rasio_not_found[kelas[i]] = round(rasio_jadi_none,2)
    jml_label[kelas[i]] = betul+jadi_none
print(rasio_not_found)
print(jml_label)

In [ ]:
import matplotlib.pyplot as plt

D = rasio_not_found

plt.bar(range(len(D)), list(D.values()), align='center')
plt.xticks(range(len(D)), list(D.keys()))

plt.show()

In [ ]:
import matplotlib.pyplot as plt

D = jml_label

plt.bar(range(len(D)), list(D.values()), align='center')
plt.xticks(range(len(D)), list(D.keys()))

plt.show()

In [ ]:
jml_label_adylan = {'ARG0': 665, 'ARG1': 565, 'location': 189, 'mod': 550, 'name': 242, 'time': 158, 'None': 0}
jml_label_amany = jml_label
rasio_not_found_adylan = {'ARG0': 0.21, 'ARG1': 0.17, 'location': 0.28, 'mod': 0.43, 'name': 0.12, 'time': 0.55, 'None': 0}
rasio_not_found_amany = rasio_not_found
hasil = []
for i in jml_label_amany:
    selisih = (jml_label_amany[i]-jml_label_adylan[i])
    rasio = 0
    if jml_label_adylan[i]!= 0:
        rasio = round(jml_label_amany[i]/jml_label_adylan[i],2)
    
    selisih2 = round(abs(rasio_not_found_amany[i]-rasio_not_found_adylan[i]),2)
    rasio2 = 0
    if rasio_not_found_adylan[i]!= 0:
        rasio2 = round(rasio_not_found_amany[i]/rasio_not_found_adylan[i],2)
    hasil.append([i,selisih,rasio,selisih2,rasio2])
    print(i,selisih,rasio,selisih2,rasio2)

In [ ]:
dict(sorted(hasil.items(), key=lambda item: item[1]))

In [ ]:
dict(sorted(jml_label_adylan.items(), key=lambda item: item[1]))

In [ ]:
dict(sorted(jml_label_amany.items(), key=lambda item: item[1]))

In [ ]:
dict(sorted(rasio_not_found_adylan.items(), key=lambda item: item[1]))

In [ ]:
dict(sorted(rasio_not_found_amany.items(), key=lambda item: item[1]))

In [ ]:
from operator import itemgetter
sorted(hasil, key=itemgetter(1)) #diurutkan berdasarkan kenaikan jumlah label

In [ ]:
pred.count('None')/len(pred)

In [ ]:
print(cm)
import seaborn as sns
ax= plt.subplot()
sns.heatmap(cm, annot=True, ax = ax); #annot=True to annotate cells
# labels, title and ticks
ax.set_xlabel('Predicted labels');ax.set_ylabel('True labels'); 
ax.set_title('Confusion Matrix'); 
ax.xaxis.set_ticklabels(kelas); ax.yaxis.set_ticklabels(kelas);
ax.set_ylim(sorted(ax.get_xlim(), reverse=True)) #supaya confusion matrix nya tidak ke crop
plt.tight_layout()
plt.show()

In [ ]:
TP = 4969

#FP (False Positive ==> Actual Class adalah Negative)
#Pair hasil prediksi yang seharusnya tidak ditemukan (harusnya :tidak ditemukan, tapi hasil prediksi :ada (found))
FP = len(filtered_sentence_dataset) - TP

#FN (False Negative ==> Actual Class adalah Positive)
#Pair Gold yang seharusnya ditemukan (harusnya :ada (found), tapi hasil prediksi :tidak ditemukan)
FN = len(pair_labels) - TP 

precision = TP/(TP+FP)
recall = TP/(TP+FN)

print("Pair Precision: ", precision)
print("Pair Recall: ", recall)
print("Pair F1: ", 2*((precision*recall)/(precision+recall)))

In [ ]:
#Barusan : Sudah run semua (yang found di beri label. yang not found diberi None)
#TO DO : Hitung berapa yang NONE di pair_labels_dict
hitung = 0
for i,j in enumerate(pair_labels_dict):
    #print(i,pair_labels_dict[j])
    for a,b in enumerate(pair_labels_dict[j]):
        #print(a,b)
        _, label_parent, label_child, label_asli, label_pred = b
        #print(label_asli,label_pred)
        if label_pred == None:
            hitung+=1
print(hitung) #pair_labels (gold AMR) yang gak ada di hasil prediksi

In [ ]:
pair_labels_dict

In [ ]:
# def create_labels(pair_labels, sentence_dataset, change_unk_to_mod=False, with_flipped=False):
#     found_or_not = []
#     labels = []
#     unk_pairs = []
#     pair_labels_dict = dict()
#     not_found_count = 0
#     found_count = 0
    
#     for idx, data in sentence_dataset.iterrows():
#         found = False
#         flipped_found = False
#         flipped_data = None
        
#         if (data['sentence_id'] not in pair_labels_dict):
#             pair_labels_dict[data['sentence_id']] = [pair_label for pair_label in pair_labels if pair_label[0] == data['sentence_id']]    
#         cur_pair_labels = pair_labels_dict[data['sentence_id']]
            
#         for pair_label in cur_pair_labels:
#             _, label_parent, label_child, label = pair_label
#             if (data['parent'].split('_')[0] == label_parent and data['child'].split('_')[0]==label_child):
#                 labels.append(label)
#                 found = True
#                 break

#             elif with_flipped and (data['parent'].split('_')[0] == label_child and data['child'].split('_')[0]==label_parent):
#                 flipped_found = True
#                 flipped_data = (data['child'], data['parent'], label)
# #             found_or_not.append(found)
        
#         if flipped_found and not found:
#             sentence_dataset.loc[idx,'parent'] = flipped_data[0]
#             sentence_dataset.loc[idx,'child'] = flipped_data[1]
#             labels.append(flipped_data[2])
        
#         if not flipped_found and not found:
#             not_found_count += 1
#             dependency_role = data['dependency_role'] 
#             if (dependency_role in ['nsubj']):
#                 labels.append("ARG0")
#             elif (dependency_role in ['obl', 'obj']):
#                 labels.append('ARG1')
#             elif (dependency_role in ['case'] and data['child'] in ['di', 'ke', 'dari']):
#                 labels.append('location')
#             else:
#                 if change_unk_to_mod:
#                     labels.append("mod")
#                 else: 
#                     labels.append("unk")

#             unk_pairs.append((data['parent'], data['child'], dependency_role, data['sentence_id']))
#             found_or_not.append(False)
#         else:
#             found_count += 1
#             found_or_not.append(True)   
    
#     print("Found pairs: ", found_count)
#     print("AMR Pair labels: ", len(pair_labels))
#     print("Dependency Parser Pair labels: ", len(sentence_dataset))
#     print("Not found: ", not_found_count)
    
#     precision = found_count/len(sentence_dataset)
#     recall = found_count/len(pair_labels)
#     print("Pair Precision: ", precision)
#     print("Pair Recall: ", recall)
#     print("Pair F1: ", 2*((precision*recall)/(precision+recall)))
    
#     return labels, unk_pairs, found_or_not

In [28]:
%load_ext autoreload

In [30]:
%autoreload

#### Dev data

### [Checkpoint 1 ] Save Dependency Features & AMR

In [15]:
%load_ext autoreload
%autoreload

In [19]:
sentence_dataset.to_csv(DEPENDENCY_FEATURES_FILEPATH, index=None)
test_sentence_dataset.to_csv(TEST_DEPENDENCY_FEATURES_FILEPATH, index=None)
amr_df.to_csv(AMR_DF_FILEPATH, index=None)
test_amr_df.to_csv(TEST_AMR_DF_FILEPATH, index=None)

### Load Dependency Features

In [20]:
sentence_dataset = pd.read_csv(DEPENDENCY_FEATURES_FILEPATH)
test_sentence_dataset = pd.read_csv(TEST_DEPENDENCY_FEATURES_FILEPATH)

## Filtering

In [21]:
# FILTER_TYPE = []
filtered_sentence_dataset = filter_dataset(sentence_dataset, mode=FILTER_TYPE)
filtered_test_sentence_dataset = filter_dataset(test_sentence_dataset, mode=FILTER_TYPE)

### Save Filtered Dependency Features Data

In [22]:
# Do Filter
filtered_sentence_dataset.to_csv(FILTERED_DEPENDENCY_FEATURES_FILEPATH, index=None)
filtered_test_sentence_dataset.to_csv(FILTERED_TEST_DEPENDENCY_FEATURES_FILEPATH, index=None)

### [Checkpoint 2] Load Filtered Dependency Parser Features dataset

In [23]:
filtered_sentence_dataset = pd.read_csv(FILTERED_DEPENDENCY_FEATURES_FILEPATH)
filtered_test_sentence_dataset = pd.read_csv(FILTERED_TEST_DEPENDENCY_FEATURES_FILEPATH)

## Create Label Features

In [24]:
data_params = dict(
    data_dir=my_dir+"data/raw",
    train_data="amr_simple_amany_v2.txt.features",
    test_data="amr_simple_test.txt.features",
    dev_data="amr_simple_amany_v2.txt.features",
    data_type="AMR"
)

amr_dataset = dataset_from_params(data_params)
amr_data = amr_dataset['train']

0it [00:00, ?it/s][2021-05-11 21:40:01,069 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw\amr_simple_amany_v2.txt.features
173it [00:00, 1529.90it/s]

Building train datasets ...
False

2644it [00:02, 1273.31it/s]
0it [00:00, ?it/s][2021-05-11 21:40:03,144 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw\amr_simple_amany_v2.txt.features
223it [00:00, 2138.10it/s]

Building dev datasets ...
False

2644it [00:01, 1632.31it/s]
0it [00:00, ?it/s][2021-05-11 21:40:04,764 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw\amr_simple_test.txt.features
306it [00:00, 2641.47it/s]

Building test datasets ...
False

#### Create Pair Labels

In [41]:
pair_labels = create_pair_labels(amr_data)
labels_no_unk, unk_pairs, found_or_not,_ = create_labels(pair_labels,filtered_sentence_dataset, change_unk_to_mod=True)
dependency_features_dict = filtered_sentence_dataset.to_dict()
dependency_features_dict['label'] = pd.Series(labels_no_unk)
dependency_features_df = pd.DataFrame(dependency_features_dict)
dependency_features_df.to_csv(LABELED_DEPENDENCY_FEATURES_FILEPATH_NO_UNK, index=None)

Found pairs:  7241
AMR Pair labels:  12147
Dependency Parser Pair labels:  11794
Not found:  4553
Pair Precision:  0.613956248940139
Pair Recall:  0.5961142668971763
Pair F1:  0.6049037216490539

In [25]:
pair_labels = create_pair_labels(amr_data)
labels_no_unk, unk_pairs, found_or_not,_ = create_labels(pair_labels,filtered_sentence_dataset, change_unk_to_mod=True)
dependency_features_dict = filtered_sentence_dataset.to_dict()
dependency_features_dict['label'] = pd.Series(labels_no_unk)
dependency_features_df = pd.DataFrame(dependency_features_dict)
dependency_features_df.to_csv(LABELED_DEPENDENCY_FEATURES_FILEPATH_NO_UNK, index=None)

Found pairs:  7241
AMR Pair labels:  12147
Dependency Parser Pair labels:  11794
Not found:  4553
Pair Precision:  0.613956248940139
Pair Recall:  0.5961142668971763
Pair F1:  0.6049037216490539

In [42]:
pair_labels

[(1, 'tanam', 'bu', 'ARG0'),
 (1, 'bu', 'ani', 'name'),
 (1, 'tanam', 'bunga', 'ARG1'),
 (2, 'tanam', 'bu', 'ARG0'),
 (2, 'bu', 'ani', 'name'),
 (2, 'tanam', 'bunga', 'ARG1'),
 (3, 'berangkat', 'om', 'ARG0'),
 (3, 'om', 'andi', 'name'),
 (3, 'berangkat', 'sekolah', 'ARG1'),
 (3, 'sekolah', 'ke', 'mod'),
 (3, 'berangkat', 'besok', 'time'),
 (4, 'berangkat', 'om', 'ARG0'),
 (4, 'om', 'andi', 'name'),
 (4, 'berangkat', 'sekolah', 'ARG1'),
 (4, 'sekolah', 'ke', 'mod'),
 (4, 'berangkat', 'besok', 'time'),
 (5, 'pergi', 'ibu', 'ARG0'),
 (5, 'ibu', 'asih', 'name'),
 (5, 'pergi', 'rumah', 'location'),
 (5, 'rumah', 'nenek', 'mod'),
 (5, 'nenek', 'yanti', 'name'),
 (5, 'pergi', 'kemarin', 'time'),
 (6, 'pergi', 'ibu', 'ARG0'),
 (6, 'ibu', 'asih', 'name'),
 (6, 'pergi', 'rumah', 'location'),
 (6, 'rumah', 'nenek', 'mod'),
 (6, 'nenek', 'yanti', 'name'),
 (6, 'pergi', 'kemarin', 'time'),
 (7, 'pergi', 'kami', 'ARG0'),
 (7, 'kami', 'keluarga', 'mod'),
 (7, 'pergi', 'tamasya', 'ARG1'),
 (7, 'pergi', 'hari', 'time'),
 (7, 'hari', 'minggu', 'mod'),
 (8, 'pergi', 'kami', 'ARG0'),
 (8, 'kami', 'keluarga', 'mod'),
 (8, 'pergi', 'tamasya', 'ARG1'),
 (8, 'pergi', 'hari', 'time'),
 (8, 'hari', 'minggu', 'mod'),
 (9, 'pergi', 'kami', 'ARG0'),
 (9, 'kami', 'keluarga', 'mod'),
 (9, 'pergi', 'tamasya', 'ARG1'),
 (9, 'pergi', 'hari', 'time'),
 (9, 'hari', 'minggu', 'mod'),
 (10, 'pergi', 'kami', 'ARG0'),
 (10, 'kami', 'keluarga', 'mod'),
 (10, 'pergi', 'tamasya', 'ARG1'),
 (10, 'pergi', 'hari', 'time'),
 (10, 'hari', 'minggu', 'mod'),
 (11, 'pergi', 'kami', 'ARG0'),
 (11, 'kami', 'keluarga', 'mod'),
 (11, 'pergi', 'tamasya', 'ARG1'),
 (11, 'pergi', 'hari', 'time'),
 (11, 'hari', 'minggu', 'mod'),
 (12, 'ajar', 'siswa', 'ARG0'),
 (12, 'ajar', 'sekolah', 'location'),
 (13, 'ajar', 'siswa', 'ARG0'),
 (13, 'ajar', 'sekolah', 'location'),
 (14, 'upacara', 'siswa', 'ARG0'),
 (14, 'siswa', 'para', 'mod'),
 (15, 'upacara', 'siswa', 'ARG0'),
 (15, 'siswa', 'para', 'mod'),
 (16, 'upacara', 'siswa', 'ARG0'),
 (16, 'siswa', 'para', 'mod'),
 (17, 'makan', 'om', 'ARG0'),
 (17, 'om', 'budi', 'name'),
 (17, 'makan', 'permen', 'ARG1'),
 (18, 'makan', 'om', 'ARG0'),
 (18, 'om', 'budi', 'name'),
 (18, 'makan', 'permen', 'ARG1'),
 (19, 'tanam', 'tani', 'ARG0'),
 (19, 'tanam', 'padi', 'ARG1'),
 (20, 'tanam', 'tani', 'ARG0'),
 (20, 'tanam', 'padi', 'ARG1'),
 (21, 'pergi', 'ayah', 'ARG0'),
 (21, 'pergi', 'kantor', 'location'),
 (21, 'kantor', 'ke', 'mod'),
 (22, 'pergi', 'ayah', 'ARG0'),
 (22, 'pergi', 'kantor', 'location'),
 (22, 'kantor', 'ke', 'mod'),
 (23, 'pergi', 'ayah', 'ARG0'),
 (23, 'pergi', 'kantor', 'location'),
 (23, 'kantor', 'ke', 'mod'),
 (24, 'masak', 'ibu', 'ARG0'),
 (24, 'ibu', 'risna', 'name'),
 (24, 'masak', 'ayam', 'ARG1'),
 (24, 'masak', 'dapur', 'location'),
 (25, 'masak', 'ibu', 'ARG0'),
 (25, 'ibu', 'risna', 'name'),
 (25, 'masak', 'ayam', 'ARG1'),
 (25, 'masak', 'dapur', 'location'),
 (26, 'masak', 'ibu', 'ARG0'),
 (26, 'ibu', 'risna', 'name'),
 (26, 'masak', 'ayam', 'ARG1'),
 (26, 'masak', 'dapur', 'location'),
 (27, 'masak', 'ibu', 'ARG0'),
 (27, 'ibu', 'risna', 'name'),
 (27, 'masak', 'ayam', 'ARG1'),
 (27, 'masak', 'dapur', 'location'),
 (28, 'masak', 'ibu', 'ARG0'),
 (28, 'ibu', 'risna', 'name'),
 (28, 'masak', 'ayam', 'ARG1'),
 (28, 'masak', 'dapur', 'location'),
 (29, 'main', 'adik', 'ARG0'),
 (29, 'main', 'teman', 'ARG1'),
 (30, 'main', 'adik', 'ARG0'),
 (30, 'main', 'teman', 'ARG1'),
 (31, 'main', 'adik', 'ARG0'),
 (31, 'main', 'teman', 'ARG1'),
 (32, 'main', 'adik', 'ARG0'),
 (32, 'main', 'teman', 'ARG1'),
 (33, 'main', 'adik', 'ARG0'),
 (33, 'main', 'teman', 'ARG1'),
 (34, 'tidur', 'kakak', 'ARG0'),
 (35, 'tidur', 'kakak', 'ARG0'),
 (36, 'tidur', 'kakak', 'ARG0'),
 (37, 'ajak', 'paman', 'ARG0'),
 (37, 'paman', 'nadiem', 'name'),
 (37, 'ajak', 'adik', 'ARG1'),
 (37, 'ajak', 'main', 'mod'),
 (38, 'ajak', 'paman', 'ARG0'),
 (38, 'paman', 'nadiem', 'name'),
 (38, 'ajak', 'adik', 'ARG1'),
 (38, 'ajak', 'main', 'mod'),
 (39, 'pimpin', 'kepala', 'ARG0'),
 (39, 'kepala', 'sekolah', 'mod'),
 (39, 'pimpin', 'upacara', 'ARG1'),
 (39, 'pimpin', 'tadi', 'time'),
 (40, 'pimpin', 'kepala', 'ARG0'),
 (40, 'kepala', 'sekolah', 'mod'),
 (40, 'pimpin', 'upacara', 'ARG1'),
 (40, 'pimpin', 'tadi', 'time'),
 (41, 'pimpin', 'kepala', 'ARG0'),
 (41, 'kepala', 'sekolah', 'mod'),
 (41, 'pimpin', 'upacara', 'ARG1'),
 (41, 'pimpin', 'tadi', 'time'),
 (42, 'pimpin', 'kepala', 'ARG0'),
 (42, 'kepala', 'sekolah', 'mod'),
 (42, 'pimpin', 'upacara', 'ARG1'),
 (42, 'pimpin', 'tadi', 'time'),
 (43, 'pimpin', 'kepala', 'ARG0'),
 (43, 'kepala', 'sekolah', 'mod'),
 (43, 'pimpin', 'upacara', 'ARG1'),
 (43, 'pimpin', 'tadi', 'time'),
 (44, 'tonton', 'mereka', 'ARG0'),
 (44, 'tonton', 'tanding', 'ARG1'),
 (44, 'tanding', 'bola', 'mod'),
 (44, 'bola', 'basket', 'mod'),
 (44, 'tonton', 'hari', 'time'),
 (45, 'tonton', 'mereka', 'ARG0'),
 (45, 'tonton', 'tanding', 'ARG1'),
 (45, 'tanding', 'bola', 'mod'),
 (45, 'bola', 'basket', 'mod'),
 (45, 'tonton', 'hari', 'time'),
 (46, 'tonton', 'mereka', 'ARG0'),
 (46, 'tonton', 'tanding', 'ARG1'),
 (46, 'tanding', 'bola', 'mod'),
 (46, 'bola', 'basket', 'mod'),
 (46, 'tonton', 'hari', 'time'),
 (47, 'tonton', 'mereka', 'ARG0'),
 (47, 'tonton', 'tanding', 'ARG1'),
 (47, 'tanding', 'bola', 'mod'),
 (47, 'bola', 'basket', 'mod'),
 (47, 'tonton', 'hari', 'time'),
 (48, 'tonton', 'mereka', 'ARG0'),
 (48, 'tonton', 'tanding', 'ARG1'),
 (48, 'tanding', 'bola', 'mod'),
 (48, 'bola', 'basket', 'mod'),
 (48, 'tonton', 'hari', 'time'),
 (49, 'ajak', 'ibu', 'ARG0'),
 (49, 'ibu', 'fio', 'name'),
 (49, 'ajak', 'adik', 'ARG1'),
 (49, 'ajak', 'pasar', 'location'),
 (50, 'ajak', 'ibu', 'ARG0'),
 (50, 'ibu', 'fio', 'name'),
 (50, 'ajak', 'adik', 'ARG1'),
 (50, 'ajak', 'pasar', 'location'),
 (51, 'punya', 'om', 'ARG0'),
 (51, 'om', 'irwan', 'name'),
 (51, 'punya', 'sepatu', 'ARG1'),
 (51, 'sepatu', 'baru', 'mod'),
 (52, 'punya', 'om', 'ARG0'),
 (52, 'om', 'irwan', 'name'),
 (52, 'punya', 'sepatu', 'ARG1'),
 (52, 'sepatu', 'baru', 'mod'),
 (53, 'ajar', 'siswa', 'ARG0'),
 (53, 'siswa', 'semua', 'mod'),
 (53, 'ajar', 'rajin', 'mod'),
 (54, 'ajar', 'siswa', 'ARG0'),
 (54, 'siswa', 'semua', 'mod'),
 (54, 'ajar', 'rajin', 'mod'),
 (55, 'jual', 'dagang', 'ARG0'),
 (55, 'dagang', 'para', 'mod'),
 (55, 'jual', 'pasar', 'location'),
 (55, 'jual', 'hari', 'time'),
 (56, 'jual', 'dagang', 'ARG0'),
 (56, 'dagang', 'para', 'mod'),
 (56, 'jual', 'pasar', 'location'),
 (56, 'jual', 'hari', 'time'),
 (57, 'jual', 'dagang', 'ARG0'),
 (57, 'dagang', 'para', 'mod'),
 (57, 'jual', 'pasar', 'location'),
 (57, 'jual', 'hari', 'time'),
 (58, 'jual', 'dagang', 'ARG0'),
 (58, 'dagang', 'para', 'mod'),
 (58, 'jual', 'pasar', 'location'),
 (58, 'jual', 'hari', 'time'),
 (59, 'jual', 'dagang', 'ARG0'),
 (59, 'dagang', 'para', 'mod'),
 (59, 'jual', 'pasar', 'location'),
 (59, 'jual', 'hari', 'time'),
 (60, 'siap', 'peserta', 'ARG0'),
 (60, 'peserta', 'lomba', 'mod'),
 (60, 'siap', 'garis', 'location'),
 (60, 'garis', 'start', 'mod'),
 (61, 'siap', 'peserta', 'ARG0'),
 (61, 'peserta', 'lomba', 'mod'),
 (61, 'siap', 'garis', 'location'),
 (61, 'garis', 'start', 'mod'),
 (62, 'siap', 'peserta', 'ARG0'),
 (62, 'peserta', 'lomba', 'mod'),
 (62, 'siap', 'garis', 'location'),
 (62, 'garis', 'start', 'mod'),
 (63, 'siap', 'peserta', 'ARG0'),
 (63, 'peserta', 'lomba', 'mod'),
 (63, 'siap', 'garis', 'location'),
 (63, 'garis', 'start', 'mod'),
 (64, 'siap', 'peserta', 'ARG0'),
 (64, 'peserta', 'lomba', 'mod'),
 (64, 'siap', 'garis', 'location'),
 (64, 'garis', 'start', 'mod'),
 (65, 'baca', 'bu', 'ARG0'),
 (65, 'bu', 'anna', 'name'),
 (65, 'baca', 'buku', 'ARG1'),
 (65, 'baca', 'kemarin', 'time'),
 (66, 'baca', 'bu', 'ARG0'),
 (66, 'bu', 'anna', 'name'),
 (66, 'baca', 'buku', 'ARG1'),
 (66, 'baca', 'kemarin', 'time'),
 (67, 'baca', 'bu', 'ARG0'),
 (67, 'bu', 'anna', 'name'),
 (67, 'baca', 'buku', 'ARG1'),
 (67, 'baca', 'kemarin', 'time'),
 (68, 'baca', 'bu', 'ARG0'),
 (68, 'bu', 'anna', 'name'),
 (68, 'baca', 'buku', 'ARG1'),
 (68, 'baca', 'kemarin', 'time'),
 (69, 'baca', 'bu', 'ARG0'),
 (69, 'bu', 'anna', 'name'),
 (69, 'baca', 'buku', 'ARG1'),
 (69, 'baca', 'kemarin', 'time'),
 (70, 'baca', 'bu', 'ARG0'),
 (70, 'bu', 'anna', 'name'),
 (70, 'baca', 'buku', 'ARG1'),
 (70, 'buku', 'bobo', 'name'),
 (71, 'baca', 'bu', 'ARG0'),
 (71, 'bu', 'anna', 'name'),
 (71, 'baca', 'buku', 'ARG1'),
 (71, 'buku', 'bobo', 'name'),
 (72, 'baca', 'bu', 'ARG0'),
 (72, 'bu', 'anna', 'name'),
 (72, 'baca', 'buku', 'ARG1'),
 (72, 'buku', 'bobo', 'name'),
 (73, 'baca', 'bu', 'ARG0'),
 (73, 'bu', 'anna', 'name'),
 (73, 'baca', 'buku', 'ARG1'),
 (73, 'buku', 'bobo', 'name'),
 (74, 'baca', 'bu', 'ARG0'),
 (74, 'bu', 'anna', 'name'),
 (74, 'baca', 'buku', 'ARG1'),
 (74, 'buku', 'bobo', 'name'),
 (75, 'beli', 'syifa', 'ARG0'),
 (75, 'beli', 'roti', 'ARG1'),
 (75, 'roti', 'jaya', 'name'),
 (76, 'beli', 'syifa', 'ARG0'),
 (76, 'beli', 'roti', 'ARG1'),
 (76, 'roti', 'jaya', 'name'),
 (77, 'pergi', 'tante', 'ARG0'),
 (77, 'tante', 'syifa', 'name'),
 (77, 'pergi', 'salon', 'location'),
 (77, 'salon', 'lutuye', 'name'),
 (78, 'pergi', 'tante', 'ARG0'),
 (78, 'tante', 'syifa', 'name'),
 (78, 'pergi', 'salon', 'location'),
 (78, 'salon', 'lutuye', 'name'),
 (79, 'pergi', 'tante', 'ARG0'),
 (79, 'tante', 'syifa', 'name'),
 (79, 'pergi', 'salon', 'location'),
 (79, 'salon', 'lutuye', 'name'),
 (80, 'kena', 'zulia', 'ARG0'),
 (80, 'kena', 'baju', 'ARG1'),
 (80, 'baju', 'merah', 'mod'),
 (81, 'kena', 'zulia', 'ARG0'),
 (81, 'kena', 'baju', 'ARG1'),
 (81, 'baju', 'merah', 'mod'),
 (82, 'kena', 'zulia', 'ARG0'),
 (82, 'kena', 'baju', 'ARG1'),
 (82, 'baju', 'merah', 'mod'),
 (83, 'kena', 'zulia', 'ARG0'),
 (83, 'kena', 'baju', 'ARG1'),
 (83, 'baju', 'merah', 'mod'),
 (84, 'kena', 'zulia', 'ARG0'),
 (84, 'kena', 'baju', 'ARG1'),
 (84, 'baju', 'merah', 'mod'),
 (85, 'cetak', 'mereka', 'ARG0'),
 (85, 'cetak', 'gol', 'ARG1'),
 (85, 'cetak', 'gawang', 'location'),
 (85, 'gawang', 'lawan', 'mod'),
 (86, 'cetak', 'mereka', 'ARG0'),
 (86, 'cetak', 'gol', 'ARG1'),
 (86, 'cetak', 'gawang', 'location'),
 (86, 'gawang', 'lawan', 'mod'),
 (87, 'cetak', 'mereka', 'ARG0'),
 (87, 'cetak', 'gol', 'ARG1'),
 (87, 'cetak', 'gawang', 'location'),
 (87, 'gawang', 'lawan', 'mod'),
 (88, 'cetak', 'mereka', 'ARG0'),
 (88, 'cetak', 'gol', 'ARG1'),
 (88, 'cetak', 'gawang', 'location'),
 (88, 'gawang', 'lawan', 'mod'),
 (89, 'cetak', 'mereka', 'ARG0'),
 (89, 'cetak', 'gol', 'ARG1'),
 (89, 'cetak', 'gawang', 'location'),
 (89, 'gawang', 'lawan', 'mod'),
 (90, 'laku', 'mereka', 'ARG0'),
 (90, 'laku', 'selebrasi', 'ARG1'),
 (91, 'laku', 'mereka', 'ARG0'),
 (91, 'laku', 'selebrasi', 'ARG1'),
 (92, 'laku', 'mereka', 'ARG0'),
 (92, 'laku', 'selebrasi', 'ARG1'),
 (93, 'laku', 'mereka', 'ARG0'),
 (93, 'laku', 'selebrasi', 'ARG1'),
 (94, 'laku', 'mereka', 'ARG0'),
 (94, 'laku', 'selebrasi', 'ARG1'),
 (95, 'sambut', 'tonton', 'ARG0'),
 (95, 'sambut', 'pak', 'ARG1'),
 (95, 'pak', 'budi', 'name'),
 (95, 'sambut', 'riuh', 'mod'),
 (96, 'sambut', 'tonton', 'ARG0'),
 (96, 'sambut', 'pak', 'ARG1'),
 (96, 'pak', 'budi', 'name'),
 (96, 'sambut', 'riuh', 'mod'),
 (97, 'sambut', 'tonton', 'ARG0'),
 (97, 'sambut', 'pak', 'ARG1'),
 (97, 'pak', 'budi', 'name'),
 (97, 'sambut', 'riuh', 'mod'),
 (98, 'sambut', 'tonton', 'ARG0'),
 (98, 'sambut', 'pak', 'ARG1'),
 (98, 'pak', 'budi', 'name'),
 (98, 'sambut', 'riuh', 'mod'),
 (99, 'sambut', 'tonton', 'ARG0'),
 (99, 'sambut', 'pak', 'ARG1'),
 (99, 'pak', 'budi', 'name'),
 (99, 'sambut', 'riuh', 'mod'),
 (100, 'pintal', 'ashita', 'ARG0'),
 (100, 'pintal', 'benang', 'ARG1'),
 (100, 'benang', 'wol', 'mod'),
 (101, 'pintal', 'ashita', 'ARG0'),
 (101, 'pintal', 'benang', 'ARG1'),
 (101, 'benang', 'wol', 'mod'),
 (102, 'pintal', 'ashita', 'ARG0'),
 (102, 'pintal', 'benang', 'ARG1'),
 (102, 'benang', 'wol', 'mod'),
 (103, 'pintal', 'ashita', 'ARG0'),
 (103, 'pintal', 'benang', 'ARG1'),
 (103, 'benang', 'wol', 'mod'),
 (104, 'pintal', 'ashita', 'ARG0'),
 (104, 'pintal', 'benang', 'ARG1'),
 (104, 'benang', 'wol', 'mod'),
 (105, 'pintal', 'ashita', 'ARG0'),
 (105, 'pintal', 'benang', 'ARG1'),
 (105, 'benang', 'sutra', 'mod'),
 (106, 'pintal', 'ashita', 'ARG0'),
 (106, 'pintal', 'benang', 'ARG1'),
 (106, 'benang', 'sutra', 'mod'),
 (107, 'pintal', 'ashita', 'ARG0'),
 (107, 'pintal', 'benang', 'ARG1'),
 (107, 'benang', 'sutra', 'mod'),
 (108, 'pintal', 'ashita', 'ARG0'),
 (108, 'pintal', 'benang', 'ARG1'),
 (108, 'benang', 'sutra', 'mod'),
 (109, 'pintal', 'ashita', 'ARG0'),
 (109, 'pintal', 'benang', 'ARG1'),
 (109, 'benang', 'sutra', 'mod'),
 (110, 'main', 'profesor', 'ARG0'),
 (110, 'profesor', 'joko', 'name'),
 (110, 'main', 'bola', 'ARG1'),
 (111, 'main', 'profesor', 'ARG0'),
 (111, 'profesor', 'joko', 'name'),
 (111, 'main', 'bola', 'ARG1'),
 (112, 'main', 'profesor', 'ARG0'),
 (112, 'profesor', 'joko', 'name'),
 (112, 'main', 'bola', 'ARG1'),
 (113, 'main', 'profesor', 'ARG0'),
 (113, 'profesor', 'joko', 'name'),
 (113, 'main', 'bola', 'ARG1'),
 (114, 'main', 'profesor', 'ARG0'),
 (114, 'profesor', 'joko', 'name'),
 (114, 'main', 'bola', 'ARG1'),
 (115, 'tangis', 'pak', 'ARG0'),
 (115, 'pak', 'andi', 'name'),
 (115, 'tangis', 'tengah', 'location'),
 (115, 'tengah', 'permainan', 'mod'),
 (116, 'tangis', 'pak', 'ARG0'),
 (116, 'pak', 'andi', 'name'),
 (116, 'tangis', 'tengah', 'location'),
 (116, 'tengah', 'permainan', 'mod'),
 (117, 'tidur', 'ayah', 'ARG0'),
 (118, 'tidur', 'ayah', 'ARG0'),
 (119, 'tidur', 'ayah', 'ARG0'),
 (120, 'tidur', 'ayah', 'ARG0'),
 (121, 'tidur', 'ayah', 'ARG0'),
 (122, 'main', 'risya', 'ARG0'),
 (122, 'main', 'voli', 'ARG1'),
 (123, 'main', 'risya', 'ARG0'),
 (123, 'main', 'voli', 'ARG1'),
 (124, 'main', 'risya', 'ARG0'),
 (124, 'main', 'voli', 'ARG1'),
 (125, 'main', 'risya', 'ARG0'),
 (125, 'main', 'voli', 'ARG1'),
 (126, 'main', 'risya', 'ARG0'),
 (126, 'main', 'voli', 'ARG1'),
 (127, 'tendang', 'bos', 'ARG0'),
 (127, 'bos', 'andi', 'name'),
 (127, 'tendang', 'bola', 'ARG1'),
 (127, 'bola', 'itu', 'mod'),
 (128, 'tendang', 'bos', 'ARG0'),
 (128, 'bos', 'andi', 'name'),
 (128, 'tendang', 'bola', 'ARG1'),
 (128, 'bola', 'itu', 'mod'),
 (129, 'tendang', 'bos', 'ARG0'),
 (129, 'bos', 'andi', 'name'),
 (129, 'tendang', 'bola', 'ARG1'),
 (129, 'bola', 'itu', 'mod'),
 (130, 'tendang', 'bos', 'ARG0'),
 (130, 'bos', 'andi', 'name'),
 (130, 'tendang', 'bola', 'ARG1'),
 (130, 'bola', 'itu', 'mod'),
 (131, 'jalan', 'main', 'ARG0'),
 (131, 'jalan', 'tarik', 'mod'),
 (132, 'jalan', 'main', 'ARG0'),
 (132, 'jalan', 'tarik', 'mod'),
 (133, 'ketik', 'aku', 'ARG0'),
 (133, 'ketik', 'cerita', 'ARG1'),
 (134, 'ketik', 'aku', 'ARG0'),
 (134, 'ketik', 'cerita', 'ARG1'),
 (135, 'ketik', 'aku', 'ARG0'),
 (135, 'ketik', 'cerita', 'ARG1'),
 (136, 'ketik', 'aku', 'ARG0'),
 (136, 'ketik', 'cerita', 'ARG1'),
 (137, 'ketik', 'aku', 'ARG0'),
 (137, 'ketik', 'cerita', 'ARG1'),
 (138, 'ketik', 'aku', 'ARG0'),
 (138, 'ketik', 'cerita', 'ARG1'),
 (138, 'ketik', 'datang', 'time'),
 (138, 'datang', 'ayah', 'ARG0'),
 (139, 'ketik', 'aku', 'ARG0'),
 (139, 'ketik', 'cerita', 'ARG1'),
 (139, 'ketik', 'datang', 'time'),
 (139, 'datang', 'ayah', 'ARG0'),
 (140, 'ketik', 'aku', 'ARG0'),
 (140, 'ketik', 'cerita', 'ARG1'),
 (140, 'ketik', 'datang', 'time'),
 (140, 'datang', 'ayah', 'ARG0'),
 (141, 'adalah', 'suminah', 'ARG0'),
 (141, 'adalah', 'anak', 'mod'),
 (141, 'anak', 'dua', 'mod'),
 (142, 'adalah', 'suminah', 'ARG0'),
 (142, 'adalah', 'anak', 'mod'),
 (142, 'anak', 'dua', 'mod'),
 (143, 'adalah', 'suminah', 'ARG0'),
 (143, 'adalah', 'anak', 'mod'),
 (143, 'anak', 'dua', 'mod'),
 (144, 'manja', 'ia', 'ARG1'),
 (145, 'manja', 'ia', 'ARG1'),
 (146, 'manja', 'orang', 'ARG0'),
 (146, 'orang', 'tua', 'mod'),
 (146, 'manja', 'ia', 'ARG1'),
 (147, 'manja', 'orang', 'ARG0'),
 (147, 'orang', 'tua', 'mod'),
 (147, 'manja', 'ia', 'ARG1'),
 (148, 'manja', 'orang', 'ARG0'),
 (148, 'orang', 'tua', 'mod'),
 (148, 'manja', 'ia', 'ARG1'),
 (149, 'benci', 'aku', 'ARG0'),
 (149, 'benci', 'tikus', 'ARG1'),
 (150, 'benci', 'aku', 'ARG0'),
 (150, 'benci', 'tikus', 'ARG1'),
 (151, 'benci', 'aku', 'ARG0'),
 (151, 'benci', 'tikus', 'ARG1'),
 (152, 'benci', 'aku', 'ARG0'),
 (152, 'benci', 'tikus', 'ARG1'),
 (153, 'benci', 'aku', 'ARG0'),
 (153, 'benci', 'tikus', 'ARG1'),
 (154, 'benci', 'ia', 'ARG0'),
 (154, 'benci', 'kucing', 'ARG1'),
 (155, 'benci', 'ia', 'ARG0'),
 (155, 'benci', 'kucing', 'ARG1'),
 (156, 'benci', 'ia', 'ARG0'),
 (156, 'benci', 'kucing', 'ARG1'),
 (157, 'benci', 'ia', 'ARG0'),
 (157, 'benci', 'kucing', 'ARG1'),
 (158, 'benci', 'ia', 'ARG0'),
 (158, 'benci', 'kucing', 'ARG1'),
 (159, 'orang', 'ayah', 'ARG0'),
 (159, 'orang', 'polisi', 'ARG1'),
 (160, 'anak', 'dewi', 'ARG0'),
 (160, 'anak', 'manja', 'mod'),
 (161, 'anak', 'dewi', 'ARG0'),
 (161, 'anak', 'manja', 'mod'),
 (162, 'rangkak', 'orang', 'ARG0'),
 (162, 'orang', 'rudi', 'name'),
 (163, 'rangkak', 'orang', 'ARG0'),
 (163, 'orang', 'rudi', 'name'),
 (164, 'rangkak', 'orang', 'ARG0'),
 (164, 'orang', 'rudi', 'name'),
 (165, 'rangkak', 'orang', 'ARG0'),
 (165, 'orang', 'rudi', 'name'),
 (166, 'rangkak', 'orang', 'ARG0'),
 (166, 'orang', 'rudi', 'name'),
 (167, 'orang', 'pak', 'ARG0'),
 (167, 'pak', 'sasu', 'name'),
 (167, 'orang', 'ceo', 'ARG1'),
 (167, 'ceo', 'muda', 'mod'),
 (167, 'orang', 'indonesia', 'location'),
 (168, 'orang', 'pak', 'ARG0'),
 (168, 'pak', 'sasu', 'name'),
 (168, 'orang', 'ceo', 'ARG1'),
 (168, 'ceo', 'muda', 'mod'),
 (168, 'orang', 'indonesia', 'location'),
 (169, 'orang', 'pak', 'ARG0'),
 (169, 'pak', 'sasu', 'name'),
 (169, 'orang', 'ceo', 'ARG1'),
 (169, 'ceo', 'muda', 'mod'),
 (169, 'orang', 'indonesia', 'location'),
 (170, 'orang', 'pak', 'ARG0'),
 (170, 'pak', 'sasu', 'name'),
 (170, 'orang', 'ceo', 'ARG1'),
 (170, 'ceo', 'muda', 'mod'),
 (170, 'orang', 'indonesia', 'location'),
 (171, 'anak', 'andriana', 'ARG0'),
 (171, 'anak', 'berani', 'mod'),
 (172, 'anak', 'andriana', 'ARG0'),
 (172, 'anak', 'berani', 'mod'),
 (173, 'anak', 'andriana', 'ARG0'),
 (173, 'anak', 'berani', 'mod'),
 (174, 'adalah', 'zia', 'ARG0'),
 (174, 'adalah', 'mayoret', 'ARG1'),
 (174, 'mayoret', 'kelompok', 'mod'),
 (174, 'kelompok', 'marching', 'mod'),
 (174, 'marching', 'band', 'mod'),
 (175, 'adalah', 'zia', 'ARG0'),
 (175, 'adalah', 'mayoret', 'ARG1'),
 (175, 'mayoret', 'kelompok', 'mod'),
 (175, 'kelompok', 'marching', 'mod'),
 (175, 'marching', 'band', 'mod'),
 (176, 'adalah', 'zia', 'ARG0'),
 (176, 'adalah', 'mayoret', 'ARG1'),
 (176, 'mayoret', 'kelompok', 'mod'),
 (176, 'kelompok', 'marching', 'mod'),
 (176, 'marching', 'band', 'mod'),
 (177, 'adalah', 'zia', 'ARG0'),
 (177, 'adalah', 'mayoret', 'ARG1'),
 (177, 'mayoret', 'kelompok', 'mod'),
 (177, 'kelompok', 'marching', 'mod'),
 (177, 'marching', 'band', 'mod'),
 (178, 'siswa', 'mereka', 'ARG0'),
 (178, 'siswa', 'sma', 'mod'),
 (178, 'sma', 'dua', 'name'),
 (178, 'sma', 'nusantara', 'name'),
 (179, 'siswa', 'mereka', 'ARG0'),
 (179, 'siswa', 'sma', 'mod'),
 (179, 'sma', 'dua', 'name'),
 (179, 'sma', 'nusantara', 'name'),
 (180, 'siswa', 'mereka', 'ARG0'),
 (180, 'siswa', 'sma', 'mod'),
 (180, 'sma', 'dua', 'name'),
 (180, 'sma', 'nusantara', 'name'),
 (181, 'orang', 'teguh', 'ARG0'),
 (181, 'orang', 'perwira', 'ARG1'),
 (181, 'perwira', 'polisi', 'mod'),
 (182, 'rupa', 'ramadhan', 'ARG0'),
 (182, 'rupa', 'bulan', 'ARG1'),
 (182, 'bulan', 'suci', 'mod'),
 (183, 'rupa', 'ramadhan', 'ARG0'),
 (183, 'rupa', 'bulan', 'ARG1'),
 (183, 'bulan', 'suci', 'mod'),
 (184, 'rupa', 'ramadhan', 'ARG0'),
 (184, 'rupa', 'bulan', 'ARG1'),
 (184, 'bulan', 'suci', 'mod'),
 (185, 'rupa', 'ramadhan', 'ARG0'),
 (185, 'rupa', 'bulan', 'ARG1'),
 (185, 'bulan', 'suci', 'mod'),
 (186, 'baca', 'andi', 'ARG0'),
 (186, 'baca', 'buku', 'ARG1'),
 (187, 'baca', 'andi', 'ARG0'),
 (187, 'baca', 'buku', 'ARG1'),
 (188, 'baca', 'andi', 'ARG0'),
 (188, 'baca', 'buku', 'ARG1'),
 (189, 'baca', 'andi', 'ARG0'),
 (189, 'baca', 'buku', 'ARG1'),
 (190, 'baca', 'andi', 'ARG0'),
 (190, 'baca', 'buku', 'ARG1'),
 (191, 'lari', 'siana', 'ARG0'),
 (191, 'lari', 'lapang', 'location'),

In [ ]:
filtered_sentence_dataset

In [48]:
#labels_no_unk, unk_pairs, found_or_not,_ = create_labels(pair_labels,filtered_sentence_dataset, change_unk_to_mod=True)

In [ ]:
label_found = []
for i,j in enumerate(labels_no_unk):
    temp = []
    temp.append(labels_no_unk[i])
    temp.append(found_or_not[i])
    label_found.append(temp)

In [ ]:
labels_no_unk

In [ ]:
display(dependency_features_df['label'].value_counts())

In [ ]:
dependency_features_df.tail()

### Analyze undetected pairs

In [26]:
start_idx = 350
for unk_pair in unk_pairs[start_idx:start_idx+50]:
    print(amrs[unk_pair[-1]-1].sentence)
    print("Label salah: ", unk_pair)
    print("Hasil Dependency Parser: ")
    display(dependency_features_df[dependency_features_df.sentence_id == unk_pair[-1]])
    
    print("Gold AMR:")
    print(amrs[unk_pair[-1]-1].graph)
    print()
    print('----------------------------------------------------------------------------------------------------------------')

Roti itu busuk
Label salah:  ('roti_1', 'busuk_1', 'amod', 343)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1075,343,3,roti_1,0,busuk_1,2,1,O,O,NN,amod,VB,mod

Gold AMR:
(b / busuk
      :ARG0 (r / roti))

----------------------------------------------------------------------------------------------------------------
Roti tersebut busuk
Label salah:  ('roti_1', 'busuk_1', 'amod', 344)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1076,344,3,roti_1,0,busuk_1,2,1,O,O,NN,amod,VB,mod

Gold AMR:
(b / busuk
      :ARG0 (r / roti))

----------------------------------------------------------------------------------------------------------------
Roti busuk
Label salah:  ('roti_1', 'busuk_1', 'amod', 345)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1077,345,2,roti_1,0,busuk_1,1,1,O,O,NNP,amod,VB,mod

Gold AMR:
(b / busuk
      :ARG0 (r / roti))

----------------------------------------------------------------------------------------------------------------
Roti itu dibuang olehku ke tempat sampah
Label salah:  ('buang_1', 'oleh_1', 'advmod', 350)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1094,350,1,buang_1,2,roti_1,0,1,O,O,VB,nsubj:pass,NN,ARG1
1095,350,4,buang_1,2,oleh_1,3,1,O,O,VB,advmod,NN,mod
1096,350,6,buang_1,2,tempat_1,5,1,O,O,VB,obl,NN,location
1097,350,7,tempat_1,5,sampah_1,6,0,O,O,NN,compound,NN,mod

Gold AMR:
(b / buang
      :ARG0 (a / aku)
      :ARG1 (r / roti)
      :location (t / tempat
            :mod (s / sampah)))

----------------------------------------------------------------------------------------------------------------
Aceng membawakanku sesuatu dari Semeru
Label salah:  ('bawa_1', 'meru_1', 'obl', 351)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1098,351,1,bawa_1,1,aceng_1,0,1,O,PER,NN,nsubj,NN,ARG0
1099,351,3,bawa_1,1,sesuatu_1,2,1,O,O,NN,obj,PRP,ARG1
1100,351,5,bawa_1,1,meru_1,4,1,O,O,NN,obl,NNP,ARG1

Gold AMR:
(b / bawa
      :ARG0 (a / aceng)
      :ARG1 (s1 / sesuatu)
      :location (s2 / semeru))

----------------------------------------------------------------------------------------------------------------
Dari Semeru, Aceng membawakanku sesuatu
Label salah:  ('bawa_1', 'meru_1', 'obl', 352)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1101,352,2,bawa_1,3,meru_1,1,1,O,LOC,VB,obl,NNP,ARG1
1102,352,3,meru_1,1,aceng_1,2,0,LOC,PER,NNP,flat,NNP,mod
1103,352,5,bawa_1,3,sesuatu_1,4,1,O,O,VB,obj,PRP,ARG1

Gold AMR:
(b / bawa
      :ARG0 (a / aceng)
      :ARG1 (s1 / sesuatu)
      :location (s2 / semeru))

----------------------------------------------------------------------------------------------------------------
Dari Semeru, Aceng membawakanku sesuatu
Label salah:  ('meru_1', 'aceng_1', 'flat', 352)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1101,352,2,bawa_1,3,meru_1,1,1,O,LOC,VB,obl,NNP,ARG1
1102,352,3,meru_1,1,aceng_1,2,0,LOC,PER,NNP,flat,NNP,mod
1103,352,5,bawa_1,3,sesuatu_1,4,1,O,O,VB,obj,PRP,ARG1

Gold AMR:
(b / bawa
      :ARG0 (a / aceng)
      :ARG1 (s1 / sesuatu)
      :location (s2 / semeru))

----------------------------------------------------------------------------------------------------------------
Aceng membawakan sesuatu dari Semeru
Label salah:  ('bawa_1', 'meru_1', 'obl', 353)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1104,353,1,bawa_1,1,aceng_1,0,1,O,PER,VB,nsubj,NN,ARG0
1105,353,3,bawa_1,1,sesuatu_1,2,1,O,O,VB,obj,PRP,ARG1
1106,353,5,bawa_1,1,meru_1,4,1,O,O,VB,obl,NNP,ARG1

Gold AMR:
(b / bawa
      :ARG0 (a / aceng)
      :ARG1 (s1 / sesuatu)
      :location (s2 / semeru))

----------------------------------------------------------------------------------------------------------------
Sesuatu dibawa oleh Aceng dari Semeru
Label salah:  ('bawa_1', 'meru_1', 'obl', 354)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1107,354,1,bawa_1,1,sesuatu_1,0,1,O,O,VB,nsubj:pass,CD,ARG1
1108,354,4,bawa_1,1,aceng_1,3,1,O,GPE,VB,obl,NNP,ARG0
1109,354,6,bawa_1,1,meru_1,5,1,O,O,VB,obl,NNP,ARG1

Gold AMR:
(b / bawa
      :ARG0 (a / aceng)
      :ARG1 (s1 / sesuatu)
      :location (s2 / semeru))

----------------------------------------------------------------------------------------------------------------
Dari Semeru, sesuatu dibawa Aceng
Label salah:  ('bawa_1', 'meru_1', 'obl', 355)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1110,355,2,bawa_1,3,meru_1,1,1,O,O,VB,obl,NNP,ARG1
1111,355,3,bawa_1,3,sesuatu_1,2,1,O,O,VB,nsubj:pass,PRP,ARG1
1112,355,5,bawa_1,3,aceng_1,4,1,O,GPE,VB,obj,NNP,ARG0

Gold AMR:
(b / bawa
      :ARG0 (a / aceng)
      :ARG1 (s1 / sesuatu)
      :location (s2 / semeru))

----------------------------------------------------------------------------------------------------------------
Mobil bergerak maju
Label salah:  ('mobil_1', 'gerak_1', 'acl', 359)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1119,359,2,mobil_1,0,gerak_1,1,1,PER,O,NNP,acl,VB,mod
1120,359,3,gerak_1,1,maju_1,2,0,O,O,VB,amod,JJ,ARG1

Gold AMR:
(g / gerak
      :ARG0 (m1 / mobil)
      :ARG1 (m2 / maju))

----------------------------------------------------------------------------------------------------------------
Bergerak maju mobil itu
Label salah:  ('maju_1', 'mobil_1', 'obj', 360)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1121,360,2,gerak_1,0,maju_1,1,1,O,O,NNP,xcomp,VB,ARG1
1122,360,3,maju_1,1,mobil_1,2,0,O,O,VB,obj,NN,ARG1

Gold AMR:
(g / gerak
      :ARG0 (m1 / mobil)
      :ARG1 (m2 / maju))

----------------------------------------------------------------------------------------------------------------
Teknologi yang mereka gunakan merupakan yang paling mutakhir
Label salah:  ('rupa_1', 'teknologi_1', 'nsubj', 361)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1123,361,1,rupa_1,4,teknologi_1,0,1,O,O,VB,nsubj,NN,ARG0
1124,361,3,guna_1,3,mereka_1,2,0,O,O,VB,nsubj,PRP,ARG0
1125,361,4,teknologi_1,0,guna_1,3,0,O,O,NN,acl,VB,mod
1126,361,7,mutakhir_1,7,paling_1,6,0,O,O,JJ,advmod,RB,mod
1127,361,8,rupa_1,4,mutakhir_1,7,1,O,O,VB,amod,JJ,mod

Gold AMR:
(g / guna
      :ARG0 (m1 / mereka)
      :ARG1 (t / teknologi
            :mod (r / rupa
                  :mod (p / paling
                        :mod (m2 / mutakhir)))))

----------------------------------------------------------------------------------------------------------------
Teknologi yang mereka gunakan merupakan yang paling mutakhir
Label salah:  ('teknologi_1', 'guna_1', 'acl', 361)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1123,361,1,rupa_1,4,teknologi_1,0,1,O,O,VB,nsubj,NN,ARG0
1124,361,3,guna_1,3,mereka_1,2,0,O,O,VB,nsubj,PRP,ARG0
1125,361,4,teknologi_1,0,guna_1,3,0,O,O,NN,acl,VB,mod
1126,361,7,mutakhir_1,7,paling_1,6,0,O,O,JJ,advmod,RB,mod
1127,361,8,rupa_1,4,mutakhir_1,7,1,O,O,VB,amod,JJ,mod

Gold AMR:
(g / guna
      :ARG0 (m1 / mereka)
      :ARG1 (t / teknologi
            :mod (r / rupa
                  :mod (p / paling
                        :mod (m2 / mutakhir)))))

----------------------------------------------------------------------------------------------------------------
Teknologi yang mereka gunakan merupakan yang paling mutakhir
Label salah:  ('mutakhir_1', 'paling_1', 'advmod', 361)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1123,361,1,rupa_1,4,teknologi_1,0,1,O,O,VB,nsubj,NN,ARG0
1124,361,3,guna_1,3,mereka_1,2,0,O,O,VB,nsubj,PRP,ARG0
1125,361,4,teknologi_1,0,guna_1,3,0,O,O,NN,acl,VB,mod
1126,361,7,mutakhir_1,7,paling_1,6,0,O,O,JJ,advmod,RB,mod
1127,361,8,rupa_1,4,mutakhir_1,7,1,O,O,VB,amod,JJ,mod

Gold AMR:
(g / guna
      :ARG0 (m1 / mereka)
      :ARG1 (t / teknologi
            :mod (r / rupa
                  :mod (p / paling
                        :mod (m2 / mutakhir)))))

----------------------------------------------------------------------------------------------------------------
Teknologi yang mereka gunakan merupakan yang paling mutakhir
Label salah:  ('rupa_1', 'mutakhir_1', 'amod', 361)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1123,361,1,rupa_1,4,teknologi_1,0,1,O,O,VB,nsubj,NN,ARG0
1124,361,3,guna_1,3,mereka_1,2,0,O,O,VB,nsubj,PRP,ARG0
1125,361,4,teknologi_1,0,guna_1,3,0,O,O,NN,acl,VB,mod
1126,361,7,mutakhir_1,7,paling_1,6,0,O,O,JJ,advmod,RB,mod
1127,361,8,rupa_1,4,mutakhir_1,7,1,O,O,VB,amod,JJ,mod

Gold AMR:
(g / guna
      :ARG0 (m1 / mereka)
      :ARG1 (t / teknologi
            :mod (r / rupa
                  :mod (p / paling
                        :mod (m2 / mutakhir)))))

----------------------------------------------------------------------------------------------------------------
Dia anak yang riang
Label salah:  ('dia_1', 'anak_1', 'acl', 362)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1128,362,2,dia_1,0,anak_1,1,1,O,O,PRP,acl,NN,mod
1129,362,4,anak_1,1,riang_1,3,0,O,O,NN,amod,VB,mod

Gold AMR:
(a / anak
      :ARG0 (d / dia)
      :mod (r / riang))

----------------------------------------------------------------------------------------------------------------
Dia anak yang periang
Label salah:  ('dia_1', 'anak_1', 'acl', 363)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1130,363,2,dia_1,0,anak_1,1,1,O,O,PRP,acl,NN,mod
1131,363,4,anak_1,1,periang_1,3,0,O,O,NN,amod,VB,mod

Gold AMR:
(a / anak
      :ARG0 (d / dia)
      :mod (r / riang))

----------------------------------------------------------------------------------------------------------------
Dia anak yang periang
Label salah:  ('anak_1', 'periang_1', 'amod', 363)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1130,363,2,dia_1,0,anak_1,1,1,O,O,PRP,acl,NN,mod
1131,363,4,anak_1,1,periang_1,3,0,O,O,NN,amod,VB,mod

Gold AMR:
(a / anak
      :ARG0 (d / dia)
      :mod (r / riang))

----------------------------------------------------------------------------------------------------------------
Dia anak periang
Label salah:  ('dia_1', 'anak_1', 'acl', 364)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1132,364,2,dia_1,0,anak_1,1,1,O,O,PRP,acl,NN,mod
1133,364,3,anak_1,1,periang_1,2,0,O,O,NN,amod,NN,mod

Gold AMR:
(a / anak
      :ARG0 (d / dia)
      :mod (r / riang))

----------------------------------------------------------------------------------------------------------------
Dia anak periang
Label salah:  ('anak_1', 'periang_1', 'amod', 364)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1132,364,2,dia_1,0,anak_1,1,1,O,O,PRP,acl,NN,mod
1133,364,3,anak_1,1,periang_1,2,0,O,O,NN,amod,NN,mod

Gold AMR:
(a / anak
      :ARG0 (d / dia)
      :mod (r / riang))

----------------------------------------------------------------------------------------------------------------
Balonku ada lima
Label salah:  ('ada_1', 'balonku_1', 'nsubj', 365)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1134,365,1,ada_1,1,balonku_1,0,1,O,PER,VB,nsubj,NNP,ARG0
1135,365,3,ada_1,1,lima_1,2,1,O,CRD,VB,nummod,CD,mod

Gold AMR:
(a / ada
      :ARG0 (b / balon)
      :mod (l / lima))

----------------------------------------------------------------------------------------------------------------
Ada lima balonku
Label salah:  ('balon_1', 'lima_1', 'nummod', 366)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1136,366,2,balon_1,2,lima_1,1,0,O,CRD,NN,nummod,CD,mod
1137,366,3,ada_1,0,balon_1,2,1,O,O,VB,obj,NN,ARG0

Gold AMR:
(a / ada
      :ARG0 (b / balon)
      :mod (l / lima))

----------------------------------------------------------------------------------------------------------------
Ada lima balon
Label salah:  ('balon_1', 'lima_1', 'nummod', 367)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1138,367,2,balon_1,2,lima_1,1,0,QTY,CRD,NND,nummod,CD,mod
1139,367,3,ada_1,0,balon_1,2,1,O,QTY,VB,obj,NND,ARG0

Gold AMR:
(a / ada
      :ARG0 (b / balon)
      :mod (l / lima))

----------------------------------------------------------------------------------------------------------------
Jabar membelikannya untukku
Label salah:  ('beli_1', 'untuk_1', 'obj', 369)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1142,369,1,beli_1,1,jabar_1,0,1,O,ORG,RB,nsubj,NNP,ARG0
1143,369,3,beli_1,1,untuk_1,2,1,O,O,RB,obj,VB,ARG1

Gold AMR:
(b / beli
      :ARG0 (j / jabar
            :mod (u / untuk)))

----------------------------------------------------------------------------------------------------------------
Jabar beli untukku
Label salah:  ('beli_1', 'untuk_1', 'obj', 370)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1144,370,1,beli_1,1,jabar_1,0,1,O,GPE,VB,nsubj,NNP,ARG0
1145,370,3,beli_1,1,untuk_1,2,1,O,O,VB,obj,NN,ARG1

Gold AMR:
(b / beli
      :ARG0 (j / jabar
            :mod (u / untuk)))

----------------------------------------------------------------------------------------------------------------
Kami senang di taman bermain siang itu
Label salah:  ('taman_1', 'main_1', 'acl', 371)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1146,371,1,senang_1,1,kami_1,0,1,O,O,VB,nsubj,PRP,ARG0
1147,371,4,senang_1,1,taman_1,3,1,O,O,VB,nmod,NN,location
1148,371,5,taman_1,3,main_1,4,0,O,O,NN,acl,VB,mod
1149,371,6,main_1,4,siang_1,5,0,O,O,VB,obj,NN,ARG1

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Kami senang di taman bermain siang itu
Label salah:  ('main_1', 'siang_1', 'obj', 371)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1146,371,1,senang_1,1,kami_1,0,1,O,O,VB,nsubj,PRP,ARG0
1147,371,4,senang_1,1,taman_1,3,1,O,O,VB,nmod,NN,location
1148,371,5,taman_1,3,main_1,4,0,O,O,NN,acl,VB,mod
1149,371,6,main_1,4,siang_1,5,0,O,O,VB,obj,NN,ARG1

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Kami senang siang itu di taman bermain
Label salah:  ('kami_1', 'senang_1', 'amod', 372)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1150,372,2,kami_1,0,senang_1,1,1,O,O,PRP,amod,VB,mod
1151,372,3,kami_1,0,siang_1,2,1,O,O,PRP,acl,NN,mod
1152,372,6,siang_1,2,taman_1,5,0,O,O,NN,nmod,NN,mod
1153,372,7,taman_1,5,main_1,6,0,O,O,NN,acl,JJ,mod

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Kami senang siang itu di taman bermain
Label salah:  ('kami_1', 'siang_1', 'acl', 372)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1150,372,2,kami_1,0,senang_1,1,1,O,O,PRP,amod,VB,mod
1151,372,3,kami_1,0,siang_1,2,1,O,O,PRP,acl,NN,mod
1152,372,6,siang_1,2,taman_1,5,0,O,O,NN,nmod,NN,mod
1153,372,7,taman_1,5,main_1,6,0,O,O,NN,acl,JJ,mod

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Kami senang siang itu di taman bermain
Label salah:  ('siang_1', 'taman_1', 'nmod', 372)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1150,372,2,kami_1,0,senang_1,1,1,O,O,PRP,amod,VB,mod
1151,372,3,kami_1,0,siang_1,2,1,O,O,PRP,acl,NN,mod
1152,372,6,siang_1,2,taman_1,5,0,O,O,NN,nmod,NN,mod
1153,372,7,taman_1,5,main_1,6,0,O,O,NN,acl,JJ,mod

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Kami senang siang itu di taman bermain
Label salah:  ('taman_1', 'main_1', 'acl', 372)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1150,372,2,kami_1,0,senang_1,1,1,O,O,PRP,amod,VB,mod
1151,372,3,kami_1,0,siang_1,2,1,O,O,PRP,acl,NN,mod
1152,372,6,siang_1,2,taman_1,5,0,O,O,NN,nmod,NN,mod
1153,372,7,taman_1,5,main_1,6,0,O,O,NN,acl,JJ,mod

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Siang itu, kami senang di taman bermain
Label salah:  ('taman_1', 'main_1', 'acl', 373)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1154,373,1,senang_1,3,siang_1,0,1,O,O,VB,obl,NN,time
1155,373,3,senang_1,3,kami_1,2,1,O,O,VB,nsubj,PRP,ARG0
1156,373,6,senang_1,3,taman_1,5,1,O,O,VB,obl,NN,location
1157,373,7,taman_1,5,main_1,6,0,O,O,NN,acl,JJ,mod

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Di taman bermain, kami senang siang itu
Label salah:  ('main_1', 'taman_1', 'obl', 374)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1158,374,2,main_1,2,taman_1,1,1,O,O,VB,obl,NN,ARG1
1159,374,4,main_1,2,kami_1,3,1,O,O,VB,obj,PRP,ARG1
1160,374,5,siang_1,5,senang_1,4,0,O,O,NN,amod,VB,mod
1161,374,6,main_1,2,siang_1,5,1,O,O,VB,obj,NN,ARG1

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Di taman bermain, kami senang siang itu
Label salah:  ('main_1', 'kami_1', 'obj', 374)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1158,374,2,main_1,2,taman_1,1,1,O,O,VB,obl,NN,ARG1
1159,374,4,main_1,2,kami_1,3,1,O,O,VB,obj,PRP,ARG1
1160,374,5,siang_1,5,senang_1,4,0,O,O,NN,amod,VB,mod
1161,374,6,main_1,2,siang_1,5,1,O,O,VB,obj,NN,ARG1

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Di taman bermain, kami senang siang itu
Label salah:  ('siang_1', 'senang_1', 'amod', 374)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1158,374,2,main_1,2,taman_1,1,1,O,O,VB,obl,NN,ARG1
1159,374,4,main_1,2,kami_1,3,1,O,O,VB,obj,PRP,ARG1
1160,374,5,siang_1,5,senang_1,4,0,O,O,NN,amod,VB,mod
1161,374,6,main_1,2,siang_1,5,1,O,O,VB,obj,NN,ARG1

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Di taman bermain, kami senang siang itu
Label salah:  ('main_1', 'siang_1', 'obj', 374)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1158,374,2,main_1,2,taman_1,1,1,O,O,VB,obl,NN,ARG1
1159,374,4,main_1,2,kami_1,3,1,O,O,VB,obj,PRP,ARG1
1160,374,5,siang_1,5,senang_1,4,0,O,O,NN,amod,VB,mod
1161,374,6,main_1,2,siang_1,5,1,O,O,VB,obj,NN,ARG1

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Siang itu di taman bermain, kami senang
Label salah:  ('main_1', 'siang_1', 'nsubj', 375)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1162,375,1,main_1,4,siang_1,0,1,O,O,VB,nsubj,NN,ARG0
1163,375,4,siang_1,0,taman_1,3,0,O,O,NN,nmod,NN,mod
1164,375,6,main_1,4,kami_1,5,1,O,O,VB,obj,PRP,ARG1
1165,375,7,kami_1,5,senang_1,6,0,O,O,PRP,amod,VB,mod

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Siang itu di taman bermain, kami senang
Label salah:  ('siang_1', 'taman_1', 'nmod', 375)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1162,375,1,main_1,4,siang_1,0,1,O,O,VB,nsubj,NN,ARG0
1163,375,4,siang_1,0,taman_1,3,0,O,O,NN,nmod,NN,mod
1164,375,6,main_1,4,kami_1,5,1,O,O,VB,obj,PRP,ARG1
1165,375,7,kami_1,5,senang_1,6,0,O,O,PRP,amod,VB,mod

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Siang itu di taman bermain, kami senang
Label salah:  ('main_1', 'kami_1', 'obj', 375)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1162,375,1,main_1,4,siang_1,0,1,O,O,VB,nsubj,NN,ARG0
1163,375,4,siang_1,0,taman_1,3,0,O,O,NN,nmod,NN,mod
1164,375,6,main_1,4,kami_1,5,1,O,O,VB,obj,PRP,ARG1
1165,375,7,kami_1,5,senang_1,6,0,O,O,PRP,amod,VB,mod

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Siang itu di taman bermain, kami senang
Label salah:  ('kami_1', 'senang_1', 'amod', 375)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1162,375,1,main_1,4,siang_1,0,1,O,O,VB,nsubj,NN,ARG0
1163,375,4,siang_1,0,taman_1,3,0,O,O,NN,nmod,NN,mod
1164,375,6,main_1,4,kami_1,5,1,O,O,VB,obj,PRP,ARG1
1165,375,7,kami_1,5,senang_1,6,0,O,O,PRP,amod,VB,mod

Gold AMR:
(s1 / senang
      :ARG0 (k / kami)
      :location (t / taman
            :mod (b / bermain))
      :time (s2 / siang
            :mod (i / itu)))

----------------------------------------------------------------------------------------------------------------
Raut mukanya nampak bahagia
Label salah:  ('nampak_1', 'raut_1', 'nsubj', 376)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1166,376,1,nampak_1,2,raut_1,0,1,O,O,VB,nsubj,NN,ARG0
1167,376,2,raut_1,0,muka_1,1,0,O,O,NN,compound,RB,mod
1168,376,4,nampak_1,2,bahagia_1,3,1,O,O,VB,amod,PRP,mod

Gold AMR:
(t / tampak
      :ARG0 (r / raut
            :mod (m / muka))
      :ARG1 (b / bahagia))

----------------------------------------------------------------------------------------------------------------
Raut mukanya nampak bahagia
Label salah:  ('nampak_1', 'bahagia_1', 'amod', 376)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1166,376,1,nampak_1,2,raut_1,0,1,O,O,VB,nsubj,NN,ARG0
1167,376,2,raut_1,0,muka_1,1,0,O,O,NN,compound,RB,mod
1168,376,4,nampak_1,2,bahagia_1,3,1,O,O,VB,amod,PRP,mod

Gold AMR:
(t / tampak
      :ARG0 (r / raut
            :mod (m / muka))
      :ARG1 (b / bahagia))

----------------------------------------------------------------------------------------------------------------
Raut mukanya nampak berbahagia
Label salah:  ('nampak_1', 'raut_1', 'nsubj', 377)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1169,377,1,nampak_1,2,raut_1,0,1,O,O,VB,nsubj,NN,ARG0
1170,377,2,raut_1,0,muka_1,1,0,O,O,NN,compound,RB,mod
1171,377,4,nampak_1,2,bahagia_1,3,1,O,O,VB,obj,PRP,ARG1

Gold AMR:
(t / tampak
      :ARG0 (r / raut
            :mod (m / muka))
      :ARG1 (b / bahagia))

----------------------------------------------------------------------------------------------------------------
Raut mukanya nampak berbahagia
Label salah:  ('nampak_1', 'bahagia_1', 'obj', 377)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1169,377,1,nampak_1,2,raut_1,0,1,O,O,VB,nsubj,NN,ARG0
1170,377,2,raut_1,0,muka_1,1,0,O,O,NN,compound,RB,mod
1171,377,4,nampak_1,2,bahagia_1,3,1,O,O,VB,obj,PRP,ARG1

Gold AMR:
(t / tampak
      :ARG0 (r / raut
            :mod (m / muka))
      :ARG1 (b / bahagia))

----------------------------------------------------------------------------------------------------------------
Tampak bahagia raut mukanya
Label salah:  ('raut_1', 'tampak_1', 'advmod', 379)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1175,379,1,raut_1,2,tampak_1,0,1,O,O,NN,advmod,NN,mod
1176,379,2,raut_1,2,bahagia_1,1,1,O,O,NN,amod,NN,mod
1177,379,4,raut_1,2,muka_1,3,1,O,O,NN,compound,RB,mod

Gold AMR:
(t / tampak
      :ARG0 (r / raut
            :mod (m / muka))
      :ARG1 (b / bahagia))

----------------------------------------------------------------------------------------------------------------
Tampak bahagia raut mukanya
Label salah:  ('raut_1', 'bahagia_1', 'amod', 379)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1175,379,1,raut_1,2,tampak_1,0,1,O,O,NN,advmod,NN,mod
1176,379,2,raut_1,2,bahagia_1,1,1,O,O,NN,amod,NN,mod
1177,379,4,raut_1,2,muka_1,3,1,O,O,NN,compound,RB,mod

Gold AMR:
(t / tampak
      :ARG0 (r / raut
            :mod (m / muka))
      :ARG1 (b / bahagia))

----------------------------------------------------------------------------------------------------------------
Nampak bahagia raut mukanya
Label salah:  ('nampak_1', 'bahagia_1', 'amod', 380)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1178,380,2,nampak_1,0,bahagia_1,1,1,O,O,NN,amod,NN,mod
1179,380,3,nampak_1,0,raut_1,2,1,O,O,NN,obj,NN,ARG1
1180,380,4,raut_1,2,muka_1,3,0,O,O,NN,compound,RB,mod

Gold AMR:
(t / tampak
      :ARG0 (r / raut
            :mod (m / muka))
      :ARG1 (b / bahagia))

----------------------------------------------------------------------------------------------------------------
Nampak bahagia raut mukanya
Label salah:  ('nampak_1', 'raut_1', 'obj', 380)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1178,380,2,nampak_1,0,bahagia_1,1,1,O,O,NN,amod,NN,mod
1179,380,3,nampak_1,0,raut_1,2,1,O,O,NN,obj,NN,ARG1
1180,380,4,raut_1,2,muka_1,3,0,O,O,NN,compound,RB,mod

Gold AMR:
(t / tampak
      :ARG0 (r / raut
            :mod (m / muka))
      :ARG1 (b / bahagia))

----------------------------------------------------------------------------------------------------------------
Kejadian kemarin membuat Rifqy tersadar
Label salah:  ('jadi_1', 'kemarin_1', 'amod', 381)
Hasil Dependency Parser:

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1181,381,1,buat_1,2,jadi_1,0,1,O,O,VB,nsubj,NN,ARG0
1182,381,2,jadi_1,0,kemarin_1,1,0,O,O,NN,amod,NN,mod
1183,381,4,buat_1,2,rifqy_1,3,1,O,ORG,VB,obj,NNP,ARG1
1184,381,5,buat_1,2,sadar_1,4,1,O,O,VB,xcomp,NNP,mod

Gold AMR:
(b / buat
      :ARG0 (j / jadi)
      :ARG1 (r / rifqy)
      :mod (s / sadar)
      :time (k / kemarin))

----------------------------------------------------------------------------------------------------------------

## Test

#### Test data

In [27]:
test_amr_data = amr_dataset['test']
test_pair_labels = create_pair_labels(test_amr_data)

In [28]:
test_labels, unk_pairs,_,_ = create_labels(test_pair_labels,filtered_test_sentence_dataset, change_unk_to_mod=True)
filtered_test_dependency_feature_dict = filtered_test_sentence_dataset.to_dict()
print(len(test_labels))
filtered_test_dependency_feature_dict['label'] = pd.Series(test_labels)
filtered_test_dependency_feature_df = pd.DataFrame(filtered_test_dependency_feature_dict)
print(len(filtered_test_dependency_feature_df))
display(filtered_test_dependency_feature_df.tail())
filtered_test_dependency_feature_df.to_csv(LABELED_TEST_DEPENDENCY_FEATURES_FILEPATH, index=None)

Found pairs:  786
AMR Pair labels:  1089
Dependency Parser Pair labels:  1084
Not found:  298
Pair Precision:  0.7250922509225092
Pair Recall:  0.721763085399449
Pair F1:  0.723423838011965
1084
1084

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1079,305,5,minggu_1,3,depan_1,4,0,CRD,O,NN,amod,NN,mod
1080,306,1,pilih_1,1,pasang_1,0,1,O,O,VB,nsubj:pass,NN,ARG1
1081,306,3,pilih_1,1,kakak_1,2,1,O,O,VB,obj,VB,ARG0
1082,306,4,kakak_1,2,minggu_1,3,0,O,CRD,VB,compound,NN,mod
1083,306,5,minggu_1,3,depan_1,4,0,CRD,O,NN,amod,NN,mod

In [47]:
test_labels, unk_pairs,_,_ = create_labels(test_pair_labels,filtered_test_sentence_dataset, change_unk_to_mod=True)
filtered_test_dependency_feature_dict = filtered_test_sentence_dataset.to_dict()
print(len(test_labels))
filtered_test_dependency_feature_dict['label'] = pd.Series(test_labels)
filtered_test_dependency_feature_df = pd.DataFrame(filtered_test_dependency_feature_dict)
print(len(filtered_test_dependency_feature_df))
display(filtered_test_dependency_feature_df.tail())
filtered_test_dependency_feature_df.to_csv(LABELED_TEST_DEPENDENCY_FEATURES_FILEPATH, index=None)

Found pairs:  786
AMR Pair labels:  1089
Dependency Parser Pair labels:  1084
Not found:  298
Pair Precision:  0.7250922509225092
Pair Recall:  0.721763085399449
Pair F1:  0.723423838011965
1084
1084

,sentence_id,sequence,parent,parent_position,child,child_position,is_root,parent_ner,child_ner,parent_pos,dependency_role,child_pos,label
1079,305,5,minggu_1,3,depan_1,4,0,CRD,O,NN,amod,NN,mod
1080,306,1,pilih_1,1,pasang_1,0,1,O,O,VB,nsubj:pass,NN,ARG1
1081,306,3,pilih_1,1,kakak_1,2,1,O,O,VB,obj,VB,ARG0
1082,306,4,kakak_1,2,minggu_1,3,0,O,CRD,VB,compound,NN,mod
1083,306,5,minggu_1,3,depan_1,4,0,CRD,O,NN,amod,NN,mod

### Test Berita

In [30]:
for filename in TEST_BERITA_FILE_NAMES:
    print(filename)
    berita_dependency_feature_df, amr_df, all_sentences, berita_amrs = create_dependency_parser_feature_df(TEST_BERITA_DIR+filename, ANNOTATOR_PARAMS)
    filtered_berita_dependency_features_df = filter_dataset(berita_dependency_feature_df, mode=FILTER_TYPE)
    
    # Berita pair label
    data_params = dict(
        data_dir=TEST_BERITA_DIR,
        train_data="{}.features".format(filename),
        test_data="{}.features".format(filename),
        dev_data="{}.features".format(filename),
        data_type="AMR"
    )
    
    berita_amr_data = dataset_from_params(data_params)['test']
    berita_pair_labels = create_pair_labels(berita_amr_data)

    berita_labels, unk_pairs,_,_ = create_labels(berita_pair_labels, filtered_berita_dependency_features_df, change_unk_to_mod=True)
    filtered_berita_dependency_features_df.insert(len(filtered_berita_dependency_features_df.columns), "label", berita_labels)
    
    topic = filename.split('.')[0]
    filtered_berita_dependency_features_df.to_csv(TEST_BERITA_DIR+"labeled_df_"+topic+'.csv', index=None)

b-salah-darat.txt

0it [00:00, ?it/s][2021-05-11 21:46:09,403 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/b-salah-darat.txt.features
32it [00:00, 434.95it/s]
0it [00:00, ?it/s][2021-05-11 21:46:09,478 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/b-salah-darat.txt.features
32it [00:00, 1104.43it/s]
0it [00:00, ?it/s][2021-05-11 21:46:09,507 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/b-salah-darat.txt.features
32it [00:00, 689.80it/s]

Building train datasets ...
False
Building dev datasets ...
False
Building test datasets ...
False

Found pairs:  292
AMR Pair labels:  461
Dependency Parser Pair labels:  442
Not found:  150
Pair Precision:  0.6606334841628959
Pair Recall:  0.6334056399132321
Pair F1:  0.6467331118493909
c-gedung-roboh.txt

0it [00:00, ?it/s][2021-05-11 21:46:21,014 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/c-gedung-roboh.txt.features
29it [00:00, 587.35it/s]
0it [00:00, ?it/s][2021-05-11 21:46:21,065 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/c-gedung-roboh.txt.features
29it [00:00, 824.43it/s]
0it [00:00, ?it/s][2021-05-11 21:46:21,103 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/c-gedung-roboh.txt.features
29it [00:00, 829.95it/s]

Building train datasets ...
False
Building dev datasets ...
False
Building test datasets ...
False

Found pairs:  222
AMR Pair labels:  395
Dependency Parser Pair labels:  370
Not found:  148
Pair Precision:  0.6
Pair Recall:  0.5620253164556962
Pair F1:  0.580392156862745
d-indo-fuji.txt

0it [00:00, ?it/s][2021-05-11 21:46:31,005 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/d-indo-fuji.txt.features
27it [00:00, 481.19it/s]
0it [00:00, ?it/s][2021-05-11 21:46:31,061 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/d-indo-fuji.txt.features
27it [00:00, 460.89it/s]
0it [00:00, ?it/s][2021-05-11 21:46:31,135 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/d-indo-fuji.txt.features
27it [00:00, 517.60it/s]

Building train datasets ...
False
Building dev datasets ...
False
Building test datasets ...
False

Found pairs:  287
AMR Pair labels:  528
Dependency Parser Pair labels:  517
Not found:  230
Pair Precision:  0.5551257253384912
Pair Recall:  0.5435606060606061
Pair F1:  0.5492822966507177
f-bunuh-diri.txt

0it [00:00, ?it/s][2021-05-11 21:47:45,670 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/f-bunuh-diri.txt.features
12it [00:00, 109.74it/s]

Building train datasets ...
False

23it [00:00, 122.70it/s]
0it [00:00, ?it/s][2021-05-11 21:47:45,888 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/f-bunuh-diri.txt.features
23it [00:00, 163.59it/s]
0it [00:00, ?it/s]

Building dev datasets ...
False
Building test datasets ...
False

[2021-05-11 21:47:46,045 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/f-bunuh-diri.txt.features
23it [00:00, 147.24it/s]

Found pairs:  173
AMR Pair labels:  298
Dependency Parser Pair labels:  298
Not found:  125
Pair Precision:  0.5805369127516778
Pair Recall:  0.5805369127516778
Pair F1:  0.5805369127516778
g-gempa-dieng.txt

0it [00:00, ?it/s][2021-05-11 21:48:51,704 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/g-gempa-dieng.txt.features
19it [00:00, 211.75it/s]
0it [00:00, ?it/s][2021-05-11 21:48:51,811 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/g-gempa-dieng.txt.features

Building train datasets ...
False
Building dev datasets ...
False

19it [00:00, 244.25it/s]
0it [00:00, ?it/s][2021-05-11 21:48:51,902 INFO] Reading instances from lines in file at: C:/Users/Asus/JupyterNotebook/Tesis/amr_parser-master(trainUlangAdylan)/data_amany/data/raw/test/g-gempa-dieng.txt.features
19it [00:00, 176.40it/s]

Building test datasets ...
False

Found pairs:  148
AMR Pair labels:  267
Dependency Parser Pair labels:  265
Not found:  117
Pair Precision:  0.5584905660377358
Pair Recall:  0.5543071161048689
Pair F1:  0.5563909774436091

In [ ]:
test_data = pd.read_csv(TEST_BERITA_DIR+"labeled_df_b-salah-darat.csv")
test_data['child_pos'].value_counts()